<%- include('header') %>

<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>
<br />

<% for(let i = 0; i < accounts.length; i++) { %>
    <%- include('summary', accounts[i]) %>
<% } %>


<a href="/transfer">Transfer</a>

<%- include('footer') %>